body{
  margin: 0;
  padding: 0;
}

#video{
  width: 720px;
  margin: 20px auto;
  background: #fc3;
  padding: 5px;
  border: 2px solid #f90;
  border-radius: 8px;
}

nav{
  margin: 5px 0;
}

#botones{
  float: left;
  width: 80px;
  height: 20px;
}

#barra progress{
  width: 620px;
  height: 16px;
  background: #fff;
  solid: 1px solid #666;
  padding: 3px;
}
